 @import url('https://fonts.googleapis.com/css2?family=Archivo:wght@600&display=swap');

*{
    font-family: Cascadia Mono;
    outline:none;
    scrollbar-width: thin;
    scrollbar-color: #70FFA7 #2a2a2a;
}

body{
    background-color: #2a2a2a;
}