@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

:root {
  --prim-orange: #f95738;
  --white-milk: #faf0ca;
  --white-milk-50: #faf0ca98;
}

::placeholder {
  color: var(--white-milk-50);
  text-align: center;
}

:focus::placeholder {
  color: var(--white-milk);
}

* {
  font-family: Rubik;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #f95738;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navbar h2,
.nav-list a {
  color: white;
}

.navbar input {
  padding: 0.3rem;
  border-radius: 1em;
  color: var(--white-milk);
  caret-color: var(--white-milk);
  background-color: var(--prim-orange);
  border: solid var(--white-milk-50);
  outline: none;
  font-size: 0.9em;
}

.navbar input:focus {
  border: solid var(--white-milk);
}

.nav-list a {
  margin: 0 1rem;
  text-decoration: none;
  font-weight: 400;
}

.nav-list a:hover {
  border-bottom: 1px var(--white-milk) solid;
  padding-bottom: 0.05em;
}
