 @import url('https://fonts.googleapis.com/css2?family=Archivo:wght@600&display=swap');

*{
    font-family: Cascadia Mono;
    outline:none;
    scrollbar-width: thin;
    scrollbar-color: rgb(170, 170, 170) rgb(255, 255, 255);
}

body{
    background-color: #2a2a2a;
}